$body-font-family: 'Montserrat', sans-serif;

$messages-line-height: 14px;
$material-light: (
  'background': var(--v-primary-lighten7),
  'navigation-drawer': var(--v-primary-lighten6),
  'cards': var(--v-primary-lighten7),
  'app-bar': var(--v-primary-lighten5),
  'text': (
    'button': #FFFFFF
  )
);

$material-dark: (
  'text': (
    'button': #000000
  )
)
